@import "tailwindcss";
@layer utilities {
    .animate-slideDown {
      animation: slideDown 0.3s ease-out;
    }
  
    @keyframes slideDown {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  
  /* Hide scrollbar for all browsers */
body, html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;  
  height: 0;
}

.scroll-container {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;  
}

.scroll-container::-webkit-scrollbar {
  display: none;  
}
