html {
    scroll-behavior: smooth;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  /* tailwind config or global.css (if you want to smooth blur fade) */
.transition-blur {
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}
/* Custom scrollbar hide class */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
